body
{
margin:0px;
padding:0px;
}
*
{
margin:0px;
padding:0px;
}

h2
{
display:block;
-webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
color: #626262;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type='text'], input[type='password'] {
    width: 230px;

    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.16) inset;
    background-color: #fafafa;
height: 30px;
    padding: 5px 10px;
font-size: 14px;
    color: #333;
    padding: 0 10px;
    border: 1px solid #ccc;
}

a {
    color: #2ca4e3;
    text-decoration: none;
}

button {
    display: block;
    min-width: auto;
    margin: 15px 0 0 0;
    vertical-align: baseline;
font-size: 11px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 -1px #666;
    background-color: #0473ad;
border: 1px solid #0473ad;
border-radius: 3px;
box-shadow: 0 1px 0 rgba(0,0,0,0.04);
    min-height: 25px;
    padding: 0 12px;
font-family: inherit;
    
    font-style: inherit;
align-items: flex-start;
    text-align: center;
    cursor: default;
box-sizing: border-box;
text-rendering: auto;
letter-spacing: normal;
    word-spacing: normal;
text-indent: 0px;
-webkit-writing-mode: horizontal-tb;
-webkit-appearance: button;


}


h4
{
display:block;
height:50px;
width:300px;
float:left;

background: rbackground: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

line-height:50px;
text-align:left;
border-right:1px solid black;
font-family: 'Francois One', sans-serif;
}





#main-nav
{
margin:0px;
padding:0px;
background:#313131;
height:50px;
width:auto;
}
#header
{
height:70px;
width:auto;
background:#4f4f4f;
}

#mnu
{
height:70px;
width:75%;
float:right;
}
#cata
{
width:1000px;
height:50px;
background:white;
float:center;
position:absolute;
left:180px;
top:125px;
}

#w-contant
{
width:100%;
height:100%;
background:white;
position:absolute;
left:0px;
top:150px;
}


#image
{
background:white;
height:25%;
width:100%;
float:top
border:1px solid black;
}

#side-bar
{
background:white;
height:100%;
width:20%;
float:left
}

#main-page
{
    clear: both;
background:white;
height:100%;
width:80%;
float:right;
}


#content img {
    max-width: 728px;
}

#signin
{
background-color: #ededed;
    padding: 30px;
    height: 485px;
    position: relative;
    border-radius: 9px;
width:400px;
}

#signup
{
background-color: #ededed;
    padding: 30px;
    height: 485px;
    position: relative;
    border-radius: 9px;
width:900px;
}

#rm_label {
    display: inline!important;
    font-weight: normal;
font: 12px arial,helvetica,sans-serif;
}

#rm_label_learn_more {
    font-weight: bold;
}


.abc
{
display:inline;
width:200px;
height:250px;
}


.menu
{
list-style:none;
}
.menu li
{
display:block;
height:50px;
width:250px;
float:left;

background: rbackground: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

line-height:50px;
text-align:center;
border-right:1px solid black;
font-family: 'Francois One', sans-serif;
}

.menu li:hover
{
 background: #0f71ba;
  background: -moz-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3fa4f0), color-stop(100%, #0f71ba));
  background: -webkit-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -o-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: -ms-linear-gradient(top, #3fa4f0 0%, #0f71ba 100%);
  background: linear-gradient(to bottom, #3fa4f0 0%, #0f71ba 100%);
color:white;
}

.nav-menu
{
list-style:none;
}

.nav-menu li
{

display:block;
height:50px;
width:150px;
float:right;
line-height:50px;
text-align:center;
border-right:1px solid black;
font-family: 'Francois One', sans-serif;
color:white;
}



.nav-menu li:hover {
  background:background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:black;
}


.cata-menu
{
list-style:none;
}

.cata-menu li
{

display:block;
height:8px;
width:100px;
float:left;
line-height:1px;
text-align:center;
border-right:1px solid black;
font-family: 'Francois One', sans-serif;
color:black;
padding:8px;

background: rbackground: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

.cata-menu li:hover
{


background:background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:red;
}


hr {
width:auto;
    display: block;
    height: 1px;
    border: 1px;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}

.cata-side-bar
{
list-style:none;
}

.cata-side-bar li
{


display:block;
height:20px;
width:80%;
float:bottom;
line-height:1px;
text-align:center;
border-bottom:1px solid black;
font-family: 'Francois One', sans-serif;
color:red;
padding:10px;

background: rbackground: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */

}

.cata-side-bar li:hover
{


background:background: #ffffff; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #ffffff 0%,#e5e5e5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color:red;
}

.pic
{
width:200px;
height:200px;
alt:Error;
}


.listing-videos
{
clear:both;
margin:0px;
display:block;
}

.listing-tube
{

}


.listing-tube li
{
width:157px;
background: linear-gradient(to bottom,#070707 0%,#161616 100%);
border-color: #1A1A1A;
padding: 8px 8px 56px;

float: left;
    position: relative;
    margin: 7px 7px 0 0;
list-style: none;
    border-width: 1px;
    border-style: solid;
}

.border-radius-5
{
border-radius:5px;
}

.box-shadow
{
box-shadow:0 0 4px;
}

img.attachment-thumb_site {
    position: relative;
}

.listing-tube li img, .listing-extract li img, .listing-wall li img, .listing-cat li img {
    height: 220px!important;
}

.wat{}







#contant {
    height: 50px;
    width: auto;
    clear: both;
}



.pics2 {
    top: 90px;
    left: 180px;
    clear: both;
}

.pics4 {
    top: 210px;
    left: 180px;
    clear: both;
}




.pics3 {
    top: 330px;
    left: 180px;
    clear: both;
}
