#wrapper {
	width: 660px;
	height: 310px;
	margin: -155px 0 0 -330px;
	position: absolute;
	top: 50%;
	left: 50%;
}
#wrapper:after {
	content: url(img/shadow.png);
	position: absolute;
	bottom: -40px;
	left: 5px;
	z-index: 1;
}
#carousel {
	width: 550px;
	height: 310px;
	overflow: hidden;
	position: relative;
	z-index: 2;
}
#carousel img {
	display: block;
	float: left;
}
#pager {
	width: 100px;
	height: 310px;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
}
#pager div {
	height: 80px;
	width: 100px;
}
#pager img {
	cursor: pointer;
	display: block;
	height: 70px;
	width: 100px;
	margin-bottom: 10px;
	float: left;
}

.coolcur
{
    position: relative;
    top:180px;
    left:0px;
      width:50%;
    height:auto;
   
}
.zooms
{
   position: relative;
    float: right;
    top:180px;
      width:50%;
    height:auto;
    background: red;
    
    
}

.wow
{
   position: relative;
    float: right;
    top:610px;
      width:50%;
    height:auto;
    
    
}