#wrappur {
	background-color: #643;
	border-top: 1px solid #532;
	border-bottom: 1px solid #532;
	width: 100%;
	height: 200px;
	margin-top: -100px;
	position: absolute;
	top: 50%;
	left: 0;
}
.caroufredsel_wrapper {
	margin-top: -25px !important;
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}
#car {
 
}
#car div {
	float: left;
	width: 290px;
	height: 150px;
}
#car img {
	border: none;
	position: relative;
	box-shadow: 0 0 10px #000;
}
#nave {
	width: 520px;
	margin-left: -230px;
	position: absolute;
	bottom: -30px;
	left: 50%;
}
#nxt {
	float: right;
}
#prv, #nxt {
	text-decoration: none;
	color: #b98;
}
#prv:hover, #nxt:hover {
	text-decoration: none;
	color: #fff;
}
#prv.disabled, #nxt.disabled {
	color: #865;
	cursor: default;
}
 




#wrappr {
	background: #666;
	box-shadow: 0 0 10px #000;
	width: 700px;
	height: 350px;
	padding: 30px;
	margin: -205px 0 0 -380px;
	position: absolute;
	top: 230px;
	left: 50%;
}
#caro {
	width: 700px;
	height: 350px;
	overflow: hidden;
}
#caro img {
	display: block;
}
#pager {
	width: 200px;
	position: absolute;
	top: 30px;
	left: 30px;
}
#pager a {
	font-family: Impact, Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 35px;
	line-height: 35px;
	color: #000;
	text-decoration: none;
	background: #666;
	display: block;
	height: 76px;
	padding: 20px;
	margin-bottom: 1px;
}
#pager a:hover {
	color: #111;
}
#pager a.selected {
	background: none;
	color: #c30;
}
       