#wrapper {
	background-color: #fff;
	border: 1px solid #ccc;
	width: 400px;
	height: 400px;
	padding: 20px;
	margin: -220px 0 0 -370px;
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0 0 10px #ccd;
}
.carousel,
.carousel div {
	width: 700px;
	height: 420px;
	overflow: hidden;
}

.line
{
width:100%;
height:5px;
background:black;
position:absolute;
top:500px;

}