#wrapper {
	width: 900px;
	height: 100%;
	margin-left: -450px;
	position: absolute;
	top: 0;
	left: 50%;
	overflow: hidden;
}
#carousel .item {
	width: 900px;
	height: 340px;
	float: left;
}
#carousel .item > div {
	width: 800px;
	height: 240px;
	padding: 50px;
	overflow: hidden;
}
#carousel .item img {
	width: 300px;
	height: 240px;
	float: left;
	box-shadow: 0 0 20px #999;
}
#carousel .item div.text {
	background-color: #fff;
	width:  400px;
	height: 200px;
	padding: 20px 40px;
	margin-left: 20px;
	float: left;
	position: relative;
	box-shadow: 0 0 20px #999;
}
#carousel .item div.text:after {
	content: " ";
	border: 10px solid transparent;
	border-right-color: #fff;
	display: block;
	width: 0;
	height: 0;
	margin-top: -10px;
	position: absolute;
	left: -20px;
	top: 50%;
}

.l
{
width:100%;
height:5px;
background:black;
position:relative;
top:500px;
}


.vertical
{
width:auto;
height:auto;
}


.fullwindow
{
   background-color: #754;
	min-height: 400px;
width:100%;
height:100px;
position:absolute;
top:520px;

}



.bt
{
  background: #222;
	min-height: 600px;

width:100%;
height:100px;
position:absolute;
top:900px;

}